@import url("https://fonts.cdnfonts.com/css/montserrat");
.hero-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 990px) {
  .hero-font {
    font-size: 30px;
    line-height: 40px;
  }
}

.h2-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
}
@media (max-width: 990px) {
  .h2-font {
    font-size: 24px;
    line-height: 30px;
  }
}

.h3-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #323264;
}

.h3-caps-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.h3-caps-font:not(.no-hover):hover {
  color: #F0145A;
  cursor: pointer;
}

.h4-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.paragraph-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.paragraph-font-small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.list-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.link-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  text-decoration: none;
}
.link-font:hover {
  color: #F0145A;
}

.gradient-supersoft {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.side-padding {
  padding: 0px 160px;
}
@media (max-width: 1440px) {
  .side-padding {
    padding: 0px 60px;
  }
}
@media (max-width: 650px) {
  .side-padding {
    padding: 0px 30px;
  }
}

.active {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 950px) {
  .hidden-media {
    display: none !important;
  }
}
@media (max-width: 800px) {
  .hidden-media {
    display: none !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
}

.header-main {
  padding-top: 55px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media (max-width: 950px) {
  .header-main {
    padding-top: 0px;
    position: relative;
  }
}
.header-main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 950px) {
  .header-main header {
    flex-direction: column-reverse;
    align-items: unset;
    background: rgba(245, 245, 250, 0.2);
    max-width: 950px;
    width: 100%;
    position: absolute;
    right: 0;
    padding: 0px 20px;
  }
}

.header-logo {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.header-logo .page-indicator {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
@media (max-width: 650px) {
  .header-logo .page-indicator {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 440px) {
  .header-logo .page-indicator {
    font-size: 25px;
    line-height: 25px;
  }
}
@media (max-width: 950px) {
  .header-logo {
    position: absolute;
    top: 80px;
    left: 20px;
  }
}
@media (max-width: 510px) {
  .header-logo {
    top: 65px;
  }
}
@media (max-width: 650px) {
  .header-logo .hlegal-pic {
    max-width: 100px;
    width: 100%;
  }
}
@media (max-width: 440px) {
  .header-logo .hlegal-pic {
    max-width: 75px;
  }
}
@media (max-width: 650px) {
  .header-logo img:nth-child(2) {
    max-width: 17px;
  }
}
@media (max-width: 440px) {
  .header-logo img:nth-child(2) {
    max-width: 12px;
  }
}

.header-top-box ul {
  display: flex;
  gap: 6px;
  align-items: center;
}
@media (max-width: 950px) {
  .header-top-box ul {
    justify-content: space-between;
    height: 70px;
  }
}
@media (max-width: 510px) {
  .header-top-box ul {
    height: 55px;
  }
}
.header-top-box ul .dot {
  display: flex;
  align-items: center;
}
.header-top-box ul .languages {
  display: flex;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}
@media (max-width: 950px) {
  .header-top-box ul .languages {
    font-size: 15px;
  }
}
@media (max-width: 440px) {
  .header-top-box ul .languages {
    font-size: 13px;
  }
}
.header-top-box ul .languages .language {
  width: 35px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
}
.header-top-box ul .languages .language:hover, .header-top-box ul .languages .language:active {
  border-radius: 8px;
  background: #F0145A;
}
.header-top-box ul .tel a {
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 950px) {
  .header-top-box ul .tel a {
    font-size: 18px;
  }
}
@media (max-width: 440px) {
  .header-top-box ul .tel a {
    font-size: 16px;
  }
}
.header-top-box ul .address a {
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
}

@media (max-width: 950px) {
  .header-bottom-box {
    position: absolute;
    right: 0;
    margin-right: 30px;
  }
}
.header-bottom-box div {
  display: none;
}
@media (max-width: 950px) {
  .header-bottom-box div {
    max-width: 40px;
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background: #FFFFFF;
    display: block;
    position: relative;
    z-index: 1;
    left: 75%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .header-bottom-box div:nth-child(2) {
    margin-top: 22px;
    transform-origin: 0% 0%;
  }
  .header-bottom-box div:nth-child(3) {
    transform-origin: 0% 100%;
  }
  .header-bottom-box div:nth-child(4) {
    transform-origin: 0% 100%;
  }
}
@media (max-width: 950px) and (max-width: 650px) {
  .header-bottom-box div:nth-child(2) {
    margin-top: 17px;
  }
}
@media (max-width: 950px) and (max-width: 440px) {
  .header-bottom-box div {
    left: 79%;
    height: 3px;
    width: 30px;
  }
}
.header-bottom-box input {
  display: none;
}
@media (max-width: 950px) {
  .header-bottom-box input {
    display: block;
    max-width: 40px;
    width: 100%;
    height: 32px;
    position: absolute;
    z-index: 2;
    margin-top: 19px;
    left: 70%;
    opacity: 0;
  }
  .header-bottom-box input:checked ~ ul {
    opacity: 1;
    pointer-events: auto;
  }
  .header-bottom-box input:checked ~ div {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  .header-bottom-box input:checked ~ div:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .header-bottom-box input:checked ~ div:nth-child(4) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}
@media (max-width: 950px) and (max-width: 650px) {
  .header-bottom-box input {
    margin-top: 15px;
  }
}
@media (max-width: 950px) and (max-width: 510px) {
  .header-bottom-box input {
    margin-top: 14px;
  }
}
@media (max-width: 950px) and (max-width: 440px) {
  .header-bottom-box input {
    margin-top: 12px;
    left: 76%;
    max-width: 25px;
  }
  .header-bottom-box input:checked ~ div {
    transform: rotate(45deg) translate(-4px, -3px);
  }
}
.header-bottom-box ul {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-left: 70px;
  position: relative;
}
.header-bottom-box ul li:nth-child(2) a {
  color: #F0145A;
  border-bottom: 3px solid #F0145A;
}
@media (max-width: 950px) {
  .header-bottom-box ul {
    flex-direction: column;
    align-items: flex-end;
    max-width: 120px;
    width: 100%;
    margin: 20px 0px 0px 0px;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
    pointer-events: none;
    font-size: 18px;
  }
}
@media (max-width: 510px) {
  .header-bottom-box ul {
    gap: 10px;
  }
}
@media (max-width: 440px) {
  .header-bottom-box ul {
    font-size: 14px;
    margin: 10px 0px 0px 0px;
  }
}
.header-bottom-box ul a {
  color: #FFFFFF;
  text-decoration: none;
}
.header-bottom-box ul a:hover {
  border-bottom: 3px solid #F0145A;
}

.services-section {
  margin-top: 65px;
}
@media (max-width: 950px) {
  .services-section {
    margin-top: 200px;
  }
}
.services-section .small {
  max-width: 95px;
  margin-bottom: 10px;
}
.services-section h2 {
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  .services-section h2 {
    width: 75%;
  }
}
.services-section a {
  text-decoration: none;
}
.services-section .services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
}
.services-section .services-wrapper .service-box {
  max-width: 493px;
  width: 28%;
}
@media (max-width: 880px) {
  .services-section .services-wrapper .service-box {
    width: 40%;
  }
}
@media (max-width: 630px) {
  .services-section .services-wrapper .service-box {
    width: 100%;
  }
}
.services-section .services-wrapper .service-box img {
  margin-bottom: 30px;
}
.services-section .services-wrapper .service-box h3 {
  color: #24A3FF;
  margin-bottom: 15px;
}
.services-section .services-wrapper .service-box p {
  max-width: 495px;
  color: #FFFFFF;
}

.shadow1 {
  max-width: 1880px;
  height: 10px;
  background: #CACADB;
  margin: 0 auto;
  border-radius: 0px 0px 12px 12px;
}

.shadow2 {
  max-width: 1840px;
  height: 10px;
  background: #E7E7F2;
  margin: 0 auto;
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 60px;
}

.trust-phrase {
  color: #323264;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper-grid {
  display: grid;
  padding: 0px 100px 90px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1440px) {
  .wrapper-grid {
    padding: 0px;
  }
}
@media (max-width: 880px) {
  .wrapper-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .wrapper-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 440px) {
  .wrapper-grid {
    grid-template-columns: 1fr;
  }
}
.wrapper-grid a {
  display: flex;
  max-width: 430px;
  height: 120px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 440px) {
  .wrapper-grid a {
    max-width: 440px;
  }
}
.wrapper-grid a:nth-child(1) {
  background-color: #1C4280;
  border-radius: 10px 0 0;
}
@media (max-width: 1440px) {
  .wrapper-grid a:nth-child(1) {
    border-radius: 0;
  }
}
.wrapper-grid a:nth-child(2) {
  background-color: #143646;
}
.wrapper-grid a:nth-child(3) {
  background-color: #FD9339;
}
.wrapper-grid a:nth-child(4) {
  background-color: #9E4DC3;
  border-radius: 0 10px 0 0;
}
@media (max-width: 1440px) {
  .wrapper-grid a:nth-child(4) {
    border-radius: 0;
  }
}
.wrapper-grid a:nth-child(5) {
  background-color: #FD9339;
}
.wrapper-grid a:nth-child(6) {
  background-color: #E2E2E4;
}
.wrapper-grid a:nth-child(7) {
  background-color: #C71C36;
}
@media (max-width: 440px) {
  .wrapper-grid a:nth-child(7) {
    display: none;
  }
}
.wrapper-grid a:nth-child(8) {
  background-color: #DCF3F9;
}
@media (max-width: 440px) {
  .wrapper-grid a:nth-child(8) {
    display: none;
  }
}
.wrapper-grid a:nth-child(9) {
  background-color: #EAEAEA;
  border-radius: 0 0 0 10px;
}
@media (max-width: 1440px) {
  .wrapper-grid a:nth-child(9) {
    border-radius: 0;
  }
}
@media (max-width: 440px) {
  .wrapper-grid a:nth-child(9) {
    display: none;
  }
}
.wrapper-grid a:nth-child(10) {
  background-color: #282240;
}
@media (max-width: 440px) {
  .wrapper-grid a:nth-child(10) {
    display: none;
  }
}
.wrapper-grid a:nth-child(11) {
  background-color: #1D4568;
}
@media (max-width: 440px) {
  .wrapper-grid a:nth-child(11) {
    display: none;
  }
}
.wrapper-grid a:nth-child(12) {
  background-color: #000000;
  border-radius: 0 0 10px;
}
@media (max-width: 1440px) {
  .wrapper-grid a:nth-child(12) {
    border-radius: 0;
  }
}
@media (max-width: 440px) {
  .wrapper-grid a:nth-child(12) {
    display: none;
  }
}
.wrapper-grid a img {
  display: block;
}

footer {
  padding: 30px 0px;
  background: rgb(245, 245, 250);
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 770px) {
  footer .footer-content {
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}
footer .footer-content .up-footer-box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 770px) {
  footer .footer-content .up-footer-box {
    flex-direction: column;
  }
}
footer .footer-content .up-footer-box p {
  font-weight: 400;
}
footer .footer-content .up-footer-box a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
footer .footer-content .up-footer-box a:hover {
  color: #F0145A;
}
footer .footer-content .down-footer-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 770px) {
  footer .footer-content .down-footer-box {
    align-items: center;
    flex-direction: column;
  }
}
footer .footer-content .down-footer-box .address {
  text-decoration: none;
  color: #46466E;
}
footer .footer-content .right-footer-container {
  font-weight: 400;
  color: #B3B3BA;
}/*# sourceMappingURL=services.css.map */